@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
}

:root {
  --font-display: "Bricolage Grotesque", sans-serif;
  --secondary-color: #333333;
  --accent-color: #ff5722;
  --text-color: #000000;
  --background-color: #ffffff;
}
.font_display{
  font-family: var(--font-display);
}
.customNav {
  @media (max-width: 991.98px) {
    display: none;
  }
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image_animate {
  animation: pulseSmooth 2.5s ease-in-out infinite;
  position: relative;
}

@keyframes pulseSmooth {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
